@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best Internet Cafe</h1>
    <p class="lead">This is a Internet Cafe web page and you can get the whole information of us here.</p>
    <p><a href="https://www.google.com" class="btn btn-primary btn-lg">Learn more in google &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/NeedImages/1.jpg" alt="Alternate Text" style="width: 100%; border-radius: 5px;" />
        <h2>Stores</h2>
        <p>
            For information about stores in various regions, you can query related information and find the corresponding path.
        </p>
        <p>
            @Html.ActionLink("Get more information >>", "Index", "Stores", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/NeedImages/2.jpg" alt="Alternate Text" style="width: 100%; border-radius: 5px;" />
        <h2>Activities</h2>
        <p>Click to jump directly to the event page, you can view the event type and time of the event.</p>
        <p>
            @Html.ActionLink("Get more information >>", "Index", "Events", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/NeedImages/3.jpg" alt="Alternate Text" style="width: 100%; border-radius: 5px;" />
        <h2>Different Activities</h2>
        <p>Clike to jump directly to the specific page of the event, you can view the name of the event, the award and the specific event description.</p>
        <p>
            @Html.ActionLink("Get more information >>", "Index", "Event_Type", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>